<input type="text" placeholder="Title search" [(ngModel)]="title">
<button (click)="searchTitle()">Search</button>

<p [style.color]="isTitleThere ? 'green' : 'red' " >{{isTitleThere ? 'Title is there' : 'Title Not there'}} </p>

<div>
    <div *ngFor="let card of cards | contentType" class="cards">
        <h1>{{card.title}}</h1>
        <img [src]="card.imgURL" (click)="logID(card)">
        <p>{{card.description}}</p>
        <p>{{card.creator}}</p>
        <p>{{card.type}}</p>
    </div>
</div>


<div>
    <div *ngFor="let card of cards | contentType:'Super Sport'" class="cards sSport">
        <h1>{{card.title}}</h1>
        <img [src]="card.imgURL" (click)="logID(card)">
        <p>{{card.description}}</p>
        <p>{{card.creator}}</p>
        <p>{{card.type}}</p>
    </div>
</div>


<div>
    <div *ngFor="let card of cards | contentType:'sedan'" class="cards sedan">
        <h1>{{card.title}}</h1>
        <img [src]="card.imgURL" (click)="logID(card)">
        <p>{{card.description}}</p>
        <p>{{card.creator}}</p>
        <p>{{card.type}}</p>
    </div>
</div>
