<app-create-content (onCreation)="addCard($event)"></app-create-content> 

<p style="color: red;" *ngIf="errTxt">Card failed to add</p>

<input type="text" placeholder="Title search" [(ngModel)]="title">
<button (click)="searchTitle()">Search</button>

<p [style.color]="isTitleThere ? 'green' : 'red' " >{{isTitleThere ? 'Title is there' : 'Title Not there'}} </p>

<div>
    <div *ngFor="let card of cards | contentType" class="cards">
        <h1>{{card.title}}</h1>

        <div *ngIf="card.imgURL; else noImage">
            <img [src]="card.imgURL" (click)="logID(card)">
        </div>
        <ng-template #noImage>
            <img [src]="defaultcar" (click)="logID(card)">
        </ng-template>

        <p>{{card.description}}</p>
        <p>{{card.creator}}</p>
        <p appHoverAffect="underline">{{card.type}}</p>
        <p *ngIf="card.tags"><strong>Tags</strong>
            <span *ngFor="let tag of card.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </p>
    </div>
</div>

<div>
    <div *ngFor="let card of cards | contentType:'Super Sport'" class="cards sSport">
        <h1>{{card.title}}</h1>
        <div *ngIf="card.imgURL; else noImage">
            <img [src]="card.imgURL" (click)="logID(card)">
        </div>
        <ng-template #noImage>
            <img [src]="defaultcar" (click)="logID(card)">
        </ng-template>
        <p>{{card.description}}</p>
        <p>{{card.creator}}</p>
        <p appHoverAffect="underline">{{card.type}}</p>
        <p *ngIf="card.tags"><strong>Tags</strong>
            <span *ngFor="let tag of card.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </p>
    </div>
</div>

<div>
    <div *ngFor="let card of cards | contentType:'sedan'" class="cards sedan">
        <h1>{{card.title}}</h1>
        <div *ngIf="card.imgURL; else noImage">
            <img [src]="card.imgURL" (click)="logID(card)">
        </div>
        <ng-template #noImage>
            <img [src]="defaultcar" (click)="logID(card)">
        </ng-template>
        <p>{{card.description}}</p>
        <p>{{card.creator}}</p>
        <p appHoverAffect="underline">{{card.type}}</p>
        <p *ngIf="card.tags"><strong>Tags</strong>
            <span *ngFor="let tag of card.tags" appHoverAffect="bold">
                {{tag}},
            </span>
        </p>
    </div>
</div>
